
@{
    ViewBag.Title = "Interests";
}

<table border="0" cellpadding="2" cellspacing="0" width="100%">
    <tr>
        <td colspan="2" class="CT"><div class="B14Blk">Interests</div></td>
    </tr>
    <tr>
        <td width="25%" class="CT">
            <p class="B10Blk">Backpacking</p>
            <img src="~/Images/Interests/boots.gif" alt="[Backpacking]" width="37" height="100">
        </td>
        <td width="75%" class="LT">
            <p class="N10Blk">
                Hiking and Backpacking are favorite hobbies of mine. I started hiking frequently when I lived in Texas for exercise.
                I started backpacking back in 1997 when I joined the <a href="https://www.meetup.com/Texins-Outdoor-Club/">Texins Outdoor Club</a>. I was
                one of this club's original members and served as it's Backpacking VP during the early years. I'd have to say that some of
                my best friendships have come from the participation in the club events. Backpacking is a fairly gear-intensive sport; here is
                the @Html.ActionLink("equipment checklist", "Checklist", "Backpacking") that I use when packing for a trip. Take a look at some of my Backpacking
                @Html.ActionLink("trip reports", "Trips", "Backpacking") complete with photos.
            </p>
        </td>
    </tr>
    <tr><td colspan="2" class="CT"><hr></td></tr>
    <tr>
        <td width="25%" class="CT">
            <p class="B10Blk">Genealogy</p>
            <img src="~/Images/Interests/famtree.gif" alt="[Genealogy]" width="117" height="100">
        </td>
        <td width="75%" class="LT">
            <p class="N10Blk">
                This is a hobby that I somewhat inherited from my Dad. He took the initiative years ago to
                get basic information for my family lineage from my great-great grandfather, Wesley S. Willis. While in Dallas,
                I used vast resources from the Dallas Public Library, the Mormon Church, and other contacts to find over 700 of my relatives.
                Take a look at the honored list of people who are my @Html.ActionLink("ancestors", "Ancestors", "Genealogy").
            </p>
        </td>
    </tr>
    <tr><td colspan="2" class="CT"><hr></td></tr>
    <tr>
        <td width="25%" class="CT">
            <p class="B10Blk">Desert Plants</p>
            <img src="~/Images/Interests/cactus1.gif" alt="[Desert Plants]" width="70" height="100">
        </td>
        <td width="75%" class="LT">
            <p class="N10Blk">
                I won't raise any plant that ain't capable of defending itself! Back in Junior High, I completed a
                science fair project that dealt with desert plant characteristics. Since that time, I have continued to
                grow and collect these plants. In Mississippi, I grow close to 100 different cactus species and I
                am always looking for more. Until recently, most of my plants were acquired during my annual trips to Tucson, Arizona.
                Back in late 2001 my dad and I decided to purchase a commercial-sized @Html.ActionLink("greenhouse", "Greenhouse", "DesertPlants") to house
                my collection and help in the upstart of a nursery business. My plants have found fame of their own; they are featured
                on one of the best cactus sites on the Internet: <a href="http://www.cactusmuseum.com">CactusMuseum.com</a>.
                Here are photos of a small sampling of my @Html.ActionLink("cactus species", "Cacti", "DesertPlants").
            </p>
        </td>
    </tr>
    <tr><td colspan="2" class="CT"><hr></td></tr>
    <tr>
        <td width="25%" class="CT">
            <p class="B10Blk">Wilderness Survival</p>
            <img src="~/Images/Interests/campsite.gif" width="135" height="100" alt="[Wilderness Survival]">
        </td>
        <td width="75%" class="LT">
            <p class="N10Blk">
                This interest grew out of my hiking and backpacking hobby. I continue to seek the wilds for solitude and fun.
                If you choose to go out in the wilderness alone you need to know how to take care of yourself in case of
                emergency. I read wilderness survival, first-aid and other outdoor-focused books frequently. The concepts of
                primitive living and improvisation are interesting to me. I think that our society has become too sheltered.
            </p>
        </td>
    </tr>
    <tr><td colspan="2" class="CT"><hr></td></tr>
    <tr>
        <td width="25%" class="CT">
            <p class="B10Blk">Fishing</p>
            <img src="~/Images/Interests/bass.gif" width="84" height="100" alt="[Fishing]">
        </td>
        <td width="75%" class="LT">
            <p class="N10Blk">
                This was a favorite childhood hobby of mine. It started with catfishing in local ditches around my
                hometown. Cassidy Bayou and Horseshoe Pond in Marks, MS were favorite haunt for me and my friends. Some
                of the best fishing that I remember was to be had at my Uncle Ward Dawkins' ponds in
                Sardis, MS. Bass, bream, crappie, catfish: you name it, these cattle ponds had it. Our uncle sold his land
                a few years back and we lost fishing rights to the ponds. My brother and I and some friends still get together
                on occasion and seek out a farm pond, but, we have slacked off in the last few years. Just can't match the
                legacy of Uncle Wards' place.
            </p>
        </td>
    </tr>
    <tr><td colspan="2" class="CT"><hr></td></tr>
    <tr>
        <td width="25%" class="CT">
            <p class="B10Blk">USA Travel /<br>Photography</p>
            <img src="~/Images/Interests/ustrav.gif" width="135" height="90" alt="[USA Travel / Photography]">
        </td>
        <td width="75%" class="LT">
            <p class="N10Blk">
                I've been fortunate to travel to 48 of the 50 US States. Florida and South Carolina - your time is going to come. Photography
                is also a big hobby of mine so I always take a camera with me when I travel. Take a look at my collection
                of @Html.ActionLink("welcome signs", "WelcomeSigns", "USATravel") and @Html.ActionLink("travel photos", "Trips", "USATravel").
            </p>
        </td>
    </tr>
</table>





